[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
softioc = "*"
numpy = "*"
cothread = "*"
matplotlib = "*"
scipy = "*"

[dev-packages]

[pipenv]
allow_prereleases = true
